# Version control
.git
.gitignore

# Env files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log

# IDEs
.idea/
.vscode/
.datagrip/

# Turborepo
.turbo/

# Mac
.DS_Store
