services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: riftguard
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  # Creator for buckets
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/mlflow;
      exit 0;
      "

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.10.0
    restart: always
    ports:
      - "5000:5000"
    environment:
      mlflow_backend_store_uri: postgresql://postgres:password@db:5432/riftguard
      mlflow_default_artifact_root: s3://mlflow/
      mlflow_s3_endpoint_url: http://minio:9000
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    depends_on:
      - db
      - minio
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri postgresql://postgres:password@db:5432/riftguard --default-artifact-root s3://mlflow/ --serve-artifacts

volumes:
  postgres_data:
  minio_data:
